@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
body {
  background-image: linear-gradient(
      to right,
      rgb(0, 0, 0),
      rgba(0, 0, 0, 0.774),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    url("images/lanscape1.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: "Poppins", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  color: white;
  font-size: 16px;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
/* ------------ Navbar section ------------------ */

nav {
  position: fixed;
  background: #222;
  height: 70px;
  width: 100%;
  padding: 0 100px;
  z-index: 100;
}
.logo {
  height: 70px;
  width: 70px;
  align-self: center;
  line-height: 120px;
  border-radius: 50%;
}
.logo > img {
  max-width: 60px;
  border-radius: 50%;
  line-height: 70px;
  border: #ff1d4d 4px solid;
}
nav ul {
  float: right;
  font-size: 1em;
}
nav ul li {
  display: inline-block;
  line-height: 70px;
  margin: 0 5px;
}
nav ul li a {
  font-weight: bold;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
nav ul li a.active,
nav ul li a:hover:not(.res) {
  color: #ff6184;
  transition: 0.4s;
}
.btn {
  background-color: #ff1d4d;
  padding: 12px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  line-height: 30px;
}
.btn:active {
  transform: translateY(2px);
}
.btn:hover {
  background-color: #ff6184;
  color: #ffffff;
}
.checkbtn {
  color: #ff1d4d;
  float: right;
  line-height: 70px;
  cursor: pointer;
  display: none;
}
.fa-bars{
  font-size: 1em;
}
#check {
  display: none;
}


/* ------------ Home section -------------------- */

#home {
  color: #fff;
  padding: 180px 100px 0;
  letter-spacing: 2px;
  height: 100vh;
}
#home h1 {
  font-size: 4.5em;
  letter-spacing: 5px;
  font-weight: 600;
  text-shadow: 4px 4px 10px #000;
}
#home p {
  font-size: 2.2em;
  text-shadow: 4px 4px 10px #000;
}
#home h1::first-letter {
  font-size: 1.2em;
}
.typing,
.color {
  font-size: 1em;
  color: #ff1d4d;
}
.resume-btn {
  margin-top: 30px;
  height: 70px;
  padding: 20px;
}

/* ------------ About section ------------------- */

#about {
  height: 100vh;
  padding: 70px 100px;
  background-color: #222;
  color: #ffffffdc;
}
.about-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about-image {
  flex-basis: 30%;
}
.about-image > img {
  filter: brightness(90%);
  width: 100%;
  border-radius: 20px;
}
.responsive {
  display: none;
}
.heading {
  font-size: 3em;
  color: #ff1d4d;
  font-weight: 400;
  margin-bottom: -10px;
  text-transform: capitalize;
  text-align: center;
  text-decoration: underline 3px;
  letter-spacing: 2px;
}
.about-details {
  flex-basis: 65%;
  letter-spacing: 1px;
  font-size: 1em;
}

/* ------------ Skills section ------------------ */

#skills {
  background-color: #333;
  padding: 70px 0;
}
.skills {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 100px;
}
.skills > div {
  background-color: #585858;
  margin-bottom: 20px;
  height: 250px;
  width: 350px;
  padding: 20px 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 200ms;
  border-radius: 10px;
  cursor: pointer;
  filter: grayscale(0.5);
  transition: all 200ms ease-in-out;
}

.skills > div:hover {
  background-color: #ff1d4d;
  filter: grayscale(0);
  transform: scale(1.05);
}
.skills > div * {
  margin: 5px;
}
.skills > div img {
  width: 50px;
}
.sub-heading {
  color: #ff1d4d;
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 20px;
  text-transform: capitalize;
  text-align: center;
  text-decoration: underline 3px;
  letter-spacing: 2px;
}
/* ------------techstack & tools-------- */
.techstack,
.tools {
  margin-top: 30px;
}
.techstack > div,
.tools > div {
  margin-top: 50px;
  padding: 0 100px;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.techstack > div img,
.tools > div img {
  width: 120px;
}
.lang-text {
  color: #fff;
  margin-top: 15px;
  font-size: 1.2em;
}

/* --------------project----------------- */
#project {
  padding: 70px 0 0;
  text-align: center;
  background-color: #222;
}
.project-container {
  padding: 0 60px 30px;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}
.project-content {
  padding: 10px 27px;
  margin: 0 40px;
}
.card {
  min-width: 250px;
  border-radius: 25px;
  color: #000;
  background-color: #585858;
  padding: 2px;
  filter: grayscale(0.2);
  transition: all 200ms ease-in-out;
}
.card:hover {
  background-color: #444;
  filter: grayscale(0);
  transform: scale(1.05);
}
.card-wrapper {
  margin: 40px 0;
}
.card-image {
  position: relative;
  height: 200px;
  max-width: 350px;
}
.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  border: 2px solid #fff;
}
.card-image,
.card-content {
  margin: auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 5px;
}
.card-content {
  padding: 10px 20px;
}
.name {
  text-transform: capitalize;
  color: #ff1d4d;
  font-size: 1.5em;
  font-weight: 400;
  text-shadow: 2px 2px 5px #000;
}
.details {
  font-size: 0.9em;
  margin: 10px 0;
  padding: 0 10px;
  text-shadow: 1px 1px 5px #000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
b {
  color: #ff1d4d;
  font-weight: 600;
}
.repo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}
.silde-btn {
  color: #ff1d4d;
}
.silde-btn:hover {
  color: #ff6184;
}
.swiper-button-next::before,
.swiper-button-next::after,
.swiper-button-prev::before,
.swiper-button-prev::after {
  font-size: 2.5em;
}
.swiper-pagination-bullet {
  background-color: #fda4b8;
  opacity: 40%;
  width: 12px;
  height: 12px;
  margin: 0 5px !important;
}
.swiper-pagination-bullet-active {
  background-color: #ff1d4d;
  opacity: 1;
}

/* -------------contact--------------- */
#contact {
  background-color: #333;
  padding: 80px 100px;
  height: 92vh;
}
.contact-container {
  margin-top: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.contact-container h4 {
  font-size: 1.8em;
  padding-bottom: 10px;
}
.fa-brands,
.fa-solid,
.fa-envelope {
  font-size: 1em;
  color: #ff1d4d;
  margin-bottom: 40px;
  transition: all 200ms ease-in-out;
}
.fa-brands:hover,
.fa-solid:hover,
.fa-envelope:hover {
  color: #ff6184;
  transform: scale(1.2);
}
.contact-icon {
  font-size: 1.3em;
}
.fa-brands {
  font-size: 2em;
}
.icons {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* ----------------thank you------------ */
footer {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  color: #fff;
  background-color: #ff1d4d;
  text-transform: capitalize;
  font-weight: 100;
}
.fa-heart {
  color: #fff;
}

/* -----------responsive----------- */

@media (max-width: 952px) {
  /* -------------------navbar-------------- */

  nav {
    padding: 0 50px;
  }
  .logo {
    height: 50px;
    width: 50px;
    align-self: center;
    line-height: 110px;
    border-radius: 50%;
  }
  .logo > img {
    max-width: 50px;
    border-radius: 50%;
    border: #ff1d4d 2px solid;
  }
  /* ---------------home-------------- */
}
@media (max-width: 858px) {
  *{
    font-size: 12px;
  }
  body {
    background-image: linear-gradient(
        to right,
        rgb(0, 0, 0),
        rgba(0, 0, 0),
        rgba(0, 0, 0, 0.507),
        rgba(255, 255, 255, 0)
      ),
      url("images/portrait.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
  .checkbtn {
    font-size: 30px;
    display: block;
    color: #ff1d4d;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #585858;
    top: 65px;
    right: -100%;
    text-align: center;
    transition: all 200ms;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 1.3em;
  }
  #check:checked ~ ul {
    right: 0;
  }

  /* -------------------about---------- */

  .responsive {
    display: block;
  }
  .about-not-responsive {
    display: none;
  }
}